<!-- JS, Popper.js, and jQuery -->
<script src="/js/bootstrap/jquery.js"></script>
<script src="/js/bootstrap/popper.js"></script>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>

</body>

</html>