<!-- JS, Popper.js, and jQuery -->

{{!-- bootstrap 4.5.3 --}}
<script src="/js/bootstrap/jquery.js"></script>
<script src="/BOOTSTRAP-4.5.3/bootstrap-4.5.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="/BOOTSTRAP-4.5.3/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
<script src="/js/bootstrap/popper.js"></script>

</body>

</html>