<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar bg-white" type="button" data-toggle="collapse" data-target="#navmobile2"
        aria-controls="navmobile2" aria-expanded="true" aria-label="Toggle navigation">
        <img class="img-nav" style="width: 50px;height: 50px" src="/img/logo-manga.jpg" />
    </button>

    <div class="collapse navbar-collapse" id="navmobile2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manga">Manga</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reference">reference</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">contact</a>
            </li>
        </ul>
        <div class="col-md-1 im w-icon">
            <span aria-hidden="true">
                <div class="btn  collapsed" type="button" data-toggle="collapse" data-target="#colapsedeconnection"
                    aria-expanded="false" aria-controls="colapsedeconnection"><img class=" img-nav"
                        style="width: 50px;height: 50px" src="{{ userObj.imgProfil }}" alt=""></div>
            </span>
        </div>
    </div>
</nav>
<div >
    <!--pour admin-->
{{#if isAdmin}}

{{> modal/admin }}
{{else}}
<!--pour user-->
{{> modal/user }}

{{/if }}
</div>
