
<!-- TITLE -->
<div class="container espace-fixed">
    <div class="row">
        <div class="col-md-12 text-center mt-5 mb-0">
            <h2>Qui sommes nous?</h2>
        </div>
    </div>
</div>

<!-- /TITLE -->

<!-- presentation des contact -->

<div class="container mb-5 mt-5">
    <div class="row bg-white">
        <div class="col-md-6 p-0">
            <img src="img/logo-contact/imgcontact.jpg" alt="ordi-girl" class="img-fluid">
        </div>
        <div class="font-weight-bolder  col-md-6">
            <p class="justify-content-around" id="text-presentation">
               je vous présente mon site de manga, passionné depuis tout petit 
               j'ai souhaiter créer ce site pour vous montré et réferencé tout les manga 
               possible une question une demande n'hesiter pas a me contacter
               
            </p>
        </div>
    </div>

</div>
<!-- /presentation des contact -->