 <div class="container mt-4">
    <div class="row ">
        <div class="col-md-12 ">
            <button class="justify-content-center btn">
                <a href="/admin" class=" text-decoration-none text-dark">admin</a>
            </button>
        </div>
        <div class="col-md-12 ">
            <button class="justify-content-center btn">
                <a href="/logout" class=" text-decoration-none text-dark">déconnection</a>
            </button>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 justify-content-center">
     
<div class="container-cookie">
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#cookieModal">
    See Cookies
  </button>
</div>

