<!-- news article -->
<div class="container card-deck">
    <div class="row">
        {{#each manga  }}
        <div class="card col-md-3">
            <a href="/booking/{{ id }}">
                <div>
                    {{#each tome}}
                    <img src="{{ image }}" class="card-img-top" alt="TOME1">
                    {{/each}}
                </div class=" img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">{{ titlevf }}</h5>
                    {{#each tome}}
                    <p class="card-text">{{ description }}</p>

                   
                    {{/each}}
                </div>
            </a>
        </div>

        {{/each }}
    </div>
</div>
<!--/news article -->