<!-- news article -->
<div class="container card-deck">
    <div class="row">
        {{#each manga  }}
        <div class="card col-md-3 m-3">
            <a href="/booking/{{ _id }}">
                <div>
                    <img src="{{ image }}" class="card-img-top" alt="TOME1">
                </div class=" img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">{{ titlevf }}</h5>

                </div>
            </a>
        </div>

        {{/each }}
    </div>
</div>
<!--/news article -->