
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center m-5">
            <h2>bienvenue {{userObj.pseudo}}</h2>
        </div>
    </div>
</div>
<!--1  controle de presentation du site -->


<!--2  controle de presentation du site -->
{{> admin/LM-colapseListeManga }}
<!--3 controle de presentation du site -->
{{> admin/LMES-colapseListeMessage }}

<!--4  controle de presentation du site -->
{{> admin/LUSER-colapseListeUser}}