<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="/manga/create" method="POST" >
                <input class="form-text" type="text" name="titlevf">
                <input class="form-text" type="text" name="titlevo">
                {{!-- <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">label</th>
                            <th scope="col">enregistrement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><label class="form-label" for="file">image du
                                    manga</label></td>
                            <td><input class="form-file" type="file"></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><label class="form-label" for="description">description
                                    du
                                    manga</label></td>
                            <td><textarea name="description" cols="30"
                                    rows="10"></textarea></td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><label class="form-label" for="">nom du manga en
                                    vo</label></td>
                            <td><input class="form-text" type="text"
                                    name="titlevo"></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td><label class="form-label" for="">nom de manga en
                                    vf</label></td>
                            <td><input class="form-text" type="text"
                                    name="titlevf"></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td><label class="form-label" for="">date de
                                    parution</label></td>
                            <td><input class="form-text" type="text"
                                    name="datedeparution"></td>

                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td><label class="form-label" for="">dessin</label></td>
                            <td><input class="form-text" type="text"
                                    name="dessin"></td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td><label class="form-label" for="">scenariste</label></td>
                            <td><input class="form-text" type="text"
                                    name="scenariste"></td>

                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td><label class="form-label" for="">traducteur</label></td>
                            <td><input class="form-text" type="text"
                                    name="traducteur"></td>

                        </tr>

                    </tbody>
                </table>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">label</th>
                            <th scope="col">enregistrement</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row">9</th>
                            <td><label class="form-label" for="">editeur vf</label></td>
                            <td><input class="form-text" type="text"
                                    name="editeur-vf"></td>

                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td><label class="form-label" for="">type</label></td>
                            <td><input class="form-text" type="text"
                                    name="type"></td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td><label class="form-label" for="">genre</label></td>
                            <td><input class="form-text" type="text"
                                    name="genre"></td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td><label class="form-label" for="">editeur en vo</label></td>
                            <td><input class="form-text" type="text"
                                    name="editeur-vo"></td>
                        </tr>
                        <tr>
                            <th scope="row">13</th>
                            <td><label class="form-label" for="">prepublication</label></td>
                            <td><input class="form-text" type="text"
                                    name="prépublication"></td>

                        </tr>

                        <tr>
                            <th scope="row">14</th>
                            <td><label class="form-label" for="">origine</label></td>
                            <td><input class="form-text" type="text"
                                    name="origine"></td>
                        </tr>
                        <tr>
                            <th scope="row">15</th>
                            <td><label class="form-label" for="">illustration</label></td>
                            <td><input class="form-text" type="text"
                                    name="illustration"></td>

                        </tr>
                    </tbody>
                </table> --}}

                <button type="submit">Créé un manga</button>
            </form>

        </div>

    </div>

    <div class="comtainer justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-12 justify-content-center">
                <button type="submit" class="btn btn-dark
                    justify-content-center">
                    enregistrer
                </button>
            </div>
        </div>
    </div>


</div>