<!-- CREATION DE MANGA  -->

<div class="container">
    <div class="row">
        <form action="/manga/create" method="POST">
            <div class="col-md-6">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">label</th>
                            <th scope="col">enregistrement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><label class="form-label" for="file">image du
                                    manga</label></td>
                            <td><input class="form-file" type="file"></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><label class="form-label" for="description">description
                                    du
                                    manga</label></td>
                            <td><textarea name="description" cols="30"
                                    rows="10"></textarea></td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><label class="form-label" for="">nom du manga en
                                    vo</label></td>
                            <td><input class="form-text" type="text"
                                    name="titlevo"></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td><label class="form-label" for="">nom de manga en
                                    vf</label></td>
                            <td><input class="form-text" type="text"
                                    name="titlevf"></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td><label class="form-label" for="">date de
                                    parution</label></td>
                            <td><input class="form-text" type="text"
                                    name="datedeparution"></td>

                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td><label class="form-label" for="">dessin</label></td>
                            <td><input class="form-text" type="text"
                                    name="dessin"></td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td><label class="form-label" for="">scenariste</label></td>
                            <td><input class="form-text" type="text"
                                    name="scenariste"></td>

                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td><label class="form-label" for="">traducteur</label></td>
                            <td><input class="form-text" type="text"
                                    name="traducteur"></td>

                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="col-md-6">

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">label</th>
                            <th scope="col">enregistrement</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row">9</th>
                            <td><label class="form-label" for="">editeur vf</label></td>
                            <td><input class="form-text" type="text"
                                    name="editeurVF"></td>

                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td><label class="form-label" for="">type</label></td>
                            <td> <select name="nameType">
                                    <option value="selection">choisissez votre
                                        type
                                    </option>
                                    <option value="shonen">shonen</option>
                                    <option value="shojo">shojo</option>
                                    <option value="seinen">seinen</option>
                                    <option value="kodomo">kodomo</option>
                                </select></td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td><label class="form-label" for="">Genre</label></td>
                            <td><select name="nameGenre">
                                    <option value="selection">Choisissez votre
                                        genre
                                    </option>
                                    <option value="Fantastique">Fantastique</option>
                                    <option value="Romance">Romance</option>
                                    <option value="Action">Action</option>
                                    <option value="SF">Science-Fiction</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td><label class="form-label" for="">editeur en vo</label></td>
                            <td><input class="form-text" type="text"
                                    name="editeurVO"></td>
                        </tr>
                        <tr>
                            <th scope="row">13</th>
                            <td><label class="form-label" for="prepublication">prepublication</label></td>
                            <td><input class="form-text" type="text"
                                    name="prepublication"></td>

                        </tr>

                        <tr>
                            <th scope="row">14</th>
                            <td><label class="form-label" for="">origine</label></td>
                            <td><input class="form-text" type="text"
                                    name="origine"></td>
                        </tr>
                        <tr>
                            <th scope="row">15</th>
                            <td><label class="form-label" for="">illustration</label></td>
                            <td><input class="form-text" type="text"
                                    name="illustration"></td>

                        </tr>
                    </tbody>
                </table>


                <div class="comtainer justify-content-center">
                    <div class="row justify-content-center">
                        <div class="col-md-12 justify-content-center">
                            <button type="submit" class="btn btn-dark
                                justify-content-center">
                                enregistrer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>



    </div>




</div>