<!-- CREATION DE MANGA  -->
<div class="container mb-5 pt-5 mt-5 pb-5 bg-primary">
    <form action="/tome/create/:id" method="POST" enctype="multipart/form-data">
        <div class="container">
            <h1>creation de manga</h1>
            <div class="card m-3">
                <div class="form-input">
                    <div>
                        <label for="">nom du manga en vo</label>
                    </div>
                    <div>
                        <input type="text" name="titrevo">
                    </div>
                </div>
                <div class="form-input">
                    <label for="">nom du manga en vf</label>
                    <input type="text" name="titrevf">
                </div>
                <div class="form-input">
                    <label for="">author</label>
                    <input type="text" name="author">
                </div>
                <div class="form-input">
                    <label for="">date edition</label>
                    <input type="date" name="dateedit">
                </div>
                <div class="form-input">
                    <label for="">date de creation</label>
                    <input type="date" name="dateCreate">
                </div>
                <div class="form-input">
                    <div>
                        <label for="">type</label>
                    </div>
                    <div>
                        <select name="nameType">
                            <option value="selection">choisissez votre
                                type
                            </option>
                            <option value="shonen">shonen</option>
                            <option value="shojo">shojo</option>
                            <option value="seinen">seinen</option>
                            <option value="kodomo">kodomo</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>

<button type="submit">enregistrer</button>
    </form>

</div>