<!-- CREATION DE MANGA  -->
<div class="container mb-5 pt-5 mt-5 pb-5 bg-primary">
    <form action="/genre/create" method="POST" enctype="multipart/form-data">
        <h3>creation de genre</h3>
        <div class="row m-3">
            <div class="col-md-6">
                <label for="">genre</label>
            </div>
            <div class="col-md-6">

                <input type="text" name="nameGenre">

            </div>
        </div>
<button type="submit">enregistrer</button>
    </form>

</div>