<!-- CREATION DE MANGA  -->
<div class="container mb-5 pt-5 mt-5 pb-5 bg-primary">
    <form action="/tome/create/:id" method="POST" enctype="multipart/form-data">
        
        <div class="container">
            <h2>cration du premier tome</h2>
            <div class="container bg-success">
                 <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">volume</label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" name="volume">
                    </div>
                </div>

                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">date de parution</label>
                    </div>
                    <div class="col-md-6">
                        <input type="date" name="datedeparution">
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">dessin</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="dessin">
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">Illustrution</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="illustrution">
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">Scénariste</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="scenariste">

                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">Traducteur</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="traducteur">
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">editeur en vf</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="editeurvf"></p>
                    </div>
                </div>


                <ul class="col-md-4">

            </div>
            <div class="row m-3">
                <div class="col-md-6">
                    <label for="">éditeur en vo</label>
                </div>
                <div class="col-md-6">

                    <input type="text" name="editeurvo">

                </div>
            </div>
            <div class="row m-3">
                <div class="col-md-6">
                    <label for="">prépublication</label>
                </div>
                <div class="col-md-6">

                    <input type="text" name="prepublication">

                </div>
            </div>

            <div class="row m-3">
                <div class="col-md-6">
                    <label for="">origine</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="origine">


                </div>
            </div>
            <div class="row m-3">
                <div class="col-md-6">
                    <label for="">date de creation</label>
                </div>
                <div class="col-md-6">


                    <input type="date" name="dateCreate">
                </div>
            </div>
            <div class="row m-3">
                <div class="col-md-6">
                    <label for="">date d'edition</label>
                </div>
                <div class="col-md-6">
                    <input type="date" name="dateedit">


                </div>
            </div>
            <div class="row m-3">
                <div class="col-md-6">
                    <label for="">image du tome</label>
                </div>
                <div class="col-md-6">

                    <input type="file" name="image">

                </div>
            </div>


            </ul>
        </div>
       
<button type="submit">enregistrer</button>
    </form>

</div>