<div class="modal fade mt-5 p-4 bg-warning">
    <div> 
        <h2>Genre</h2>
       <form action="/genre/create"  method="POST">

            <div class="row m-3">
                <div class="col-md-6">
                    <label for="">genre</label>
                </div>
                <div class="col-md-6">

                    <input type="text"name="nameGenre">

                </div>
            </div>
             <div class="col-md-12">
                <button type="submit" > enregistrer</button>
            </div>
       </form>
    </div>
</div>
