{{> home/carousel }}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center m-5">
            <h2>Nouveaux Article</h2>
        </div>
    </div>
</div>

{{> home/newsarticle}}

{{> home/banner}}

{{> home/button-admin}}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center m-5">
            <h2>notre équipe</h2>
        </div>
    </div>
</div>
{{> home/contact }}

{{> modal/modalcookie}}

<script>
    $(document).on('.modal.keyboard')
    //$('#cookieModal').modal() // initialized with defaults
    $('').modal({ : true }); // initialized with no keyboard
    //$('#cookieModal').modal('show') // initializes and invokes show immediately
</script>