@import url(../../BOOTSTRAP-4.5.3/bootstrap-4.5.3-dist/css/bootstrap.css);
/* CSS PERSONNEL */
/* COLOR */
/* btn gradiant */
/* FONT */
/* position */
/*          A COMPRENDRE
 * $bg-body: '/assets/img/bodyimg.jpg' */
/*  CSS DE BASE */
nav:target {
  padding-top: 7em;
  margin-top: -7em; }

.espace-fixed {
  margin-top: 100px; }

.red {
  background-color: #df1c1c;
  opacity: 70%; }

.block-recherche {
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px; }

.btn-recherche {
  background: linear-gradient(#df1c1c 25%, #f0f0f0 75%); }

.block-recherche-btn {
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px; }

a {
  text-decoration: none; }

li {
  text-decoration-color: #000000; }

h1 {
  font-family: "manga"; }

h2 {
  font-family: "manga"; }

h3 {
  font-family: "manga"; }

h4 {
  font-family: "manga"; }

h5 {
  font-family: "manga"; }

h6 {
  font-family: "manga"; }

p {
  font-family: "manga"; }

.w-logo {
  width: 100px !important;
  margin-right: 10px !important; }

.fond {
  background-color: #222222 !important; }

.w-icon {
  size: 100% !important; }

.nav-black-active :active {
  background-color: #080808 !important; }

.color-footer {
  background-color: #161212; }

.w-color {
  color: #ffffff; }

.img-body {
  background-image: url(/img/bodyimg.jpg); }

.bg-admin {
  background-image: url(/img/bodyimg.jpg); }

.bg-contact {
  background-color: #673ab7; }

#myInputadminvo {
  background-image: url("/css/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px; }

#myTablev {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px; }

#myTablev th, #myTablev td {
  text-align: left;
  padding: 12px; }

#myTablev tr {
  border-bottom: 1px solid #ddd; }

#myTablev tr.header, #myTablev tr:hover {
  background-color: #f1f1f1; }

#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px; }

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0; }

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block; }

#myUL li a:hover:not(.header) {
  background-color: #eee; }

.container {
  overflow: hidden; }

.filterDiv {
  float: left;
  color: #ffffff;
  margin: 2px;
  display: none; }

.show {
  display: block; }

.btn:hover {
  background-color: #ddd; }

.btn.active {
  background-color: #666;
  color: white; }

/*  card flip   
 **************** */
.row-flip {
  display: inline-flex; }

.flip-card {
  flex: 0 0 auto;
  width: 200px;
  height: 350px;
  background-color: transparent;
  perspective: 1000px; }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.flip-card-front {
  background-color: #4e91df;
  color: black; }

.flip-card-back {
  background-color: dodgerblue;
  color: black;
  transform: rotateY(180deg); }

.z-index-modal {
  z-index: 1; }

/*# sourceMappingURL=style.css.map */
