{{!-- filtre de message --}}
<div class="container">
    <div class="row">
        <div class="col-md-12 justify-content-start">
            <h4>filtre de message</h4>
        </div>
    </div>

      <form >
        <div class="row">
            <div class="col-md-4 mb-4">
                <input type="text" class="form-control"id="filterTitlevf" onkeypress="filtermanga()" name="titlevf" value="" placeholder="pseudo">
            </div>
            <div class="col-md-4 mb-4">
                <input type="text" class="form-control" name="volume" value="" placeholder="email">
            </div>
            <div class="col-md-4 mb-4">
                <input type="text" class="form-control" name="type" value=""
                    placeholder="manga édité">
            </div>
        </div>
    </form>
</div>
{{!-- /filtre de message --}}