{{#if CPtiGato }}
{{!-- Sinon si il n'y a pas le cookie --}}
{{else}}

<div class="modal fade bg_black" id="cookieModal" data-keyboard="true" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl fixed-bottom" role="document">
    <div class="modal-content">
      <div class="modal-body bg-black">
        <div class="notice d-flex justify-content-between align-items-center">
          <div class="buttons d-flex flex-column p-2 flex-lg-row close">
            <div>
              <p class="ft-10 honey text-center">Veuillez accepter les cookies.</p>
              <a href="/newPtiGato" class="btn bg-gold honey mr-1 btn-sm" style="height: 35px;">accepter</a>
              <button  class="btn bg-gold honey mr-1 btn-sm" data-dismiss="modal">fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}