<div class="modal fade" id="newsTome{{ _id}}" tabindex="-1" data-backdrop="false"  aria-labelledby="newsTomes" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newsTomes">nouveaux tome</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/modal/{{ _id}}?_method=POST" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">numero du volume</label>
                            <input type="number" class="form-control" name="volume">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">date de parution</label>
                            <input type="date" class="form-control" name="datedeparution">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">dessin</label>
                            <input type="text" class="form-control" name="dessin">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Illustrution</label>
                            <input type="text" class="form-control" name="illustration">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Scénariste</label>
                            <input type="text" class="form-control" name="Scenariste">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">Traducteur</label>
                            <input type="text" class="form-control" name="Traducteur">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">editeur en vf</label>
                            <input type="text" class="form-control" name="editeurvf">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">éditeur en vo</label>
                            <input type="text" class="form-control" name="EditeurVO">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">prépublication</label>
                            <input type="text" class="form-control" name="prepublication">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">origine</label>
                            <input type="text" class="form-control" name="origine">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">date d'edition</label>
                            <input type="date" class="form-control" name="dateEdit">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="recipient-name" class="col-form-label">image du tome</label>
                            <input type="file" class="form-control" name="image">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="message-text" class="col-form-label">description:</label>
                            <textarea class="form-control" name="description" cols="30" rows="10"
                                placeholder="description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button type="submit" class="btn btn-primary">enregistrer</button>
                </div>
            </form>


        </div>
    </div>
</div>