<div class="container b--blue ">
  <div class="row">
    {{#each tome}}

    <div class="col-md-3 mb-3">
      <a href="/booking/{{_id}}"class="link-dark">
        <div class="media">
          <img src="{{ image }}" class="w-25" alt="IMG MANGA">
          <div class="media-body">
            <h5 class="mt-0"> volume {{ volume }}</h5>
          </div>
        </div>
      </a>
    </div>

    {{/each}}
  </div>
</div>