<ul class="list-unstyled">
  {{#each manga.tome }}
  <li class="media">
    <img src=`{{ image }}` class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1"> {{ titlevf }} </h5>
    </div>
  </li>
   {{/each }}
  
</ul>