
{{!-- filtre de manga --}}

<div class="container">
    <div class="row">
        <div class="col-md-12 justify-content-start">
            <h4>filtre de compte d'utilisateur</h4>
        </div>
    </div>

    <form >
        <div class="row">
            <div class="col-md-4 mb-4">
                <input type="text" class="form-control"id="filterTitlevf" onkeypress="filtermanga()" name="titlevf" value="" placeholder="pseudo">
            </div>
            <div class="col-md-4 mb-4">
                <input type="text" class="form-control" name="volume" value="" placeholder="email">
            </div>
            <div class="col-md-4 mb-4">
                <input type="text" class="form-control" name="type" value=""
                    placeholder="type de manga préféré">
            </div>
        </div>
    </form>
</div>

{{!-- /filtre de manga --}}

 <script >


    function searchMangaFunction() {
        var input, filter, table, body, tr, td, i, j, txtValue;

        input = document.getElementById("searchMessageName");
        filter = input.value.toUpperCase();
        table = document.getElementById("searchTableMessageId");
        body = table.getElementsByTagName("tbody")

        for (x = 0; x < body.length; x++) {
          // console.log(body[x])
          tr = body[x].getElementsByTagName("tr")
          //tr = body.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1]
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
      }
    
      document.getElementById("searchMessageEmail").addEventListener("search",
        function (event) {
          var input, filter, table, tr, td, i, j, txtValue;
          if (event.type === "search") {
            if (event.currentTarget.value !== "") {
            } else {
              table = document.getElementById("searchTableMessageId");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                tr[i].style.display = ""
              }
              //alert("vide")
            }
          }
        })
    },
}
 </script>