<!--barre de recherche-->

<div class="container  bg-danger ">

    <div class="row m-5 ">
        <div class="col-md-12 text-center">
            <div>
                <h2>recherche</h2>
            </div>
        </div>
    </div>
    <div class='row m-5 justify-content-center'>
        <div class="col-md-5  block-recherche">
            <input type="text" class="form-control" placeholder="recherche" aria-label="searchbar"
                aria-describedby="basic-addon1" id="myInput" onkeyup="myFunction()">
        </div>
    </div>

    <div id="myBtnContainer" class='row m-5 '>
        <div class="btn-group justify-content-center mb-4">
            <div class="col-md-2">
                <button class="btn btn-recherche active" onclick="filterSelection('all')">
                    Tout
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-recherche " onclick="filterSelection('shojo')">
                    shojo
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-recherche " onclick="filterSelection('seinen')">
                    seinen
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-recherche " onclick="filterSelection('shonen')">
                    shonen
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-recherche " onclick="filterSelection('kodomo')">
                    kodomo
                </button>
            </div>
        </div>
    </div>
</div>
<!--/barre de recherche-->

{{!-- CSS block or none recherche bar --}}
<style>
    #myInput {
        background-image: url('/css/searchicon.png');
        /* Add a search icon to input */
        background-position: 10px 12px;
        /* Position the search icon */
        background-repeat: no-repeat;
        /* Do not repeat the icon image */
        width: 100%;
        /* Full-width */
        font-size: 16px;
        /* Increase font-size */
        padding: 12px 20px 12px 40px;
        /* Add some padding */
        border: 1px solid #ddd;
        /* Add a grey border */
        margin-bottom: 12px;
        /* Add some space below the input */
    }

    #myUL {
        /* Remove default list styling */
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #myUL li a {
        border: 1px solid #ddd;
        /* Add a border to all links */
        margin-top: -1px;
        /* Prevent double borders */
        background-color: #f6f6f6;
        /* Grey background color */
        padding: 12px;
        /* Add some padding */
        text-decoration: none;
        /* Remove default text underline */
        font-size: 18px;
        /* Increase the font-size */
        color: black;
        /* Add a black text color */
        display: block;
        /* Make it into a block element to fill the whole list */
    }

    #myUL li a:hover:not(.header) {
        background-color: #eee;
        /* Add a hover effect to all links, except for headers */
    }
</style>

{{!-- Script barre de recherche (Input) --}}
<script src="/js/filterSearchBar.js"></script>
{{!-- Script button de recherche --}}