

<!-- NEWS ARTICLE-->

<div class="container mb-5 card-deck">
    <div class="row">
        <div class="col-md-4">
            {{#each manga }}

            <a href="/manga/{{ _id }}">
                <div class="card" id="#n° de l'article">
                    <div class="card-img img-thumbnail">
                        <img src="../assets/img/bookimg/dgray_man_01.jpg"
                            class="card-img-top" alt="{{ nameVF }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> {{ nameVF }} </h5>
                        <p class="card-text" id="#description">This is a longer
                            card with supporting text below as a
                            natural lead-in to additional content. This content
                            is a little bit longer.</p>
                        <p class="card-text" id="#date de parution"><small
                                class="text-muted">Last updated 3 mins
                                ago</small></p>
                        <p>{{ _id }}</p>
                    </div>
                </div>
            </a>

            {{/each }}
        </div>
    </div>
</div>

<!-- /NEWS ARTICLE-->