
{{!-- filtre de manga --}}

<div class="container">
    <div class="row">
        <div class="col-md-12 justify-content-start">
            <h4>filtre de manga</h4>
        </div>
    </div>

    <form >
        <div class="row">
            <div class="col-md-4 mb-4">
                <input type="text" class="form-control" id="myInput" onkeyup="myFunctionAdmin()" name="titlevf" value="" placeholder="titre du manga">
            </div>
            <div class="col-md-4 mb-4">
                <input type="number" class="form-control" id="myInputadminvo" onkeyup="myFunctionAdminVolume()" name="volume" value="" placeholder="numero du volume">
            </div>
            <div class="col-md-4 mb-4">
                <input type="text" class="form-control"  onkeyup="myFunctionAdminType()" name="type" value=""
                    placeholder="type de manga (shonen, shojo, ect...)">
            </div>
        </div>
    </form>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/manga/create"> <button class="btn btn-outline-primary"> créer un manga</button></a>
       
      </div>
    </div>
</div>

{{!-- /filtre de manga --}}

 <script src="/js/filterSearchadmin.js"></script>