<div class="container m-4">
    <form action="/admin" method="POST" enctype="multipart/form-data">

        <div class="row bg-dark w-auto">
            <div class="card-img">
                <img src="/img/imgDefault/description-default.gif" alt="">
            </div>
        </div>
        <div class="row ">
            <div class="text">
                <input type="text" name="name">
            </div>
        </div>
        <div class="group-btn">
            <div>
                <input type="file" value="imgarray">
            </div>
            <div class=" btn">
                <button type="submit">suprimer une image</button>
            </div>
        </div>
    </form>
    <button>suprimer une image</button>
</div>