<ul class="list-unstyled">
  {{#each manga.tome }}
  <li class="media">
    <img src=`{{ image.url }}` class="mr-3" alt="...">
    <div class="media-body">
      bonjour a tous
      
      <h5 class="mt-0 mb-1"> {{ titlevf }} </h5>
     {{ description }}
    </div>
  </li>
   {{/each  }}
  
</ul>


                

