{{!-- liste de manga --}}

<div class="accordion mt-5" id="accordionListeManga">
    <div class="card">
        <div class="card-header" id="headingManga">
            <h2 class="mb-0">
                <button class="btn  btn-block text-center " type="button" data-toggle="collapse"
                    data-target="#collapseOneManga" aria-expanded="true" aria-controls="collapseOneManga">
                    <h2>liste des manga</h2>
                </button>
            </h2>
        </div>

        <div id="collapseOneManga" class="collapse" aria-labelledby="headingManga" data-parent="#accordionListeManga">
            <div class="card-body">

                {{> admin/LM-colapseListeManga/filtreManga  manga=manga tome=tome tome1=tome1 }}
              

                {{> admin/LM-colapseListeManga/mangaListe  manga=manga tome=tome tome1=tome1}}
              
            </div>

        </div>
    </div>
</div>

{{!-- fin liste de manga --}}