<div class="container">
    <div class="row bg-primary">
        <div class="col-md-4 justify-content-center">

            <div class="col-md-12 justify-content-center ">

                <h3>logo</h3>

            </div>

            <div class="bg-warning col-md-12 h-50 w-50 m-2 img-fluid justify-content-center" id="img-logo">
                
                 <img src="/img/imgDefault/logodefault.jpg" alt="logo par default" class="rounded">
              
            </div>


            <form>
                <div class=" col-md-12 justify-content-center">
                    <label for="img-logo">choisir le fichier du logo</label>
                </div>
                <div class=" col-md-12 justify-content-center">
                    <input type="file" class="form-control-file" id="img-logo">
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-3 ">
                            <div class="row">
                                <div class="col-md-12 img-thumbnail">
                                    <i class="icon-nav"></i>
                                </div>

                                <div class="img-thumbnail">
                                    <input type="file" name="" id="#icon-de-connection">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-9">

                            <div class="row">
                                <div class="col-md-12">
                                    barre d accueil
                                </div>
                                <div class=" form-control form-check-label">
                                    <input type="text" name="" id="">
                                </div>
                                <div class=" form-control">
                                    <input type="text" name="" id="">
                                </div>
                                <div class=" form-control">
                                    <input type="text" name="" id="">
                                </div>
                                <div class=" form-control">
                                    <input type="text" name="" id="">
                                </div>

                                <button>enregistrement</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>