
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center m-5">
            <h2>liste des manga</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="list-unstyled">
            {{#each manga }}
            <a href="/editAdmin/{{ id }}">
                <li class="media">
                    <img src="{{ image }}" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ titlevf }}</h5>
                        {{ description }}
                    </div>
                </li>
            </a>
            {{/each  }}
        </ul>
    </div>
</div>