<div class="container">
    <div class="row">
        <div class="col-md-12 justify-content-start">
            <h4>filtre de messagerie</h4>
        </div>
    </div>


    <form>
        <div class="row">
            <div class="col-2">
                <input type="text" class="form-control" name="prénom" placeholder="prénom">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" name="nom" placeholder="nom">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" name="email" placeholder="email">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" name="pseudo" placeholder="pseudo">
            </div>
        </div>
    </form>
</div>