<section class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <img src="{{ userAdmin }}" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>"{{ nameUserAdmin }}"</h5>
        </div>
      </div>
    </div>

    <div class="col-md-3">

      <div class="form-input">
        <h5>nom</h5>
      </div>
      <div class="form-input">

        <h5>prenom</h5>

      </div>
      <div class="form-input">
        <h5>email</h5>
      </div>
      <div class="form-input">
        <h5>pseudo</h5>
      </div>

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-1">
      
      <a href="/manga/mangaID"><i class="fas fa-plus-circle"></i></a>
      


    </div>
  </div>

</section>